<div class="footer-container">
    <nav>
        <ul>
            <li class="list-item">
                <a routerLink="/">Recipes</a>
            </li>
            <li class="list-item">
                <a routerLink="privacy">Privacy</a>
            </li>
            <li class="list-item transition">
                <a routerLink="/about">About</a>
            </li>
            <li class="list-item">
                <a routerLink="/contact">Contact us</a>
            </li>
            <li class="list-item-last list-item">
                <a>Report a bug</a>
            </li>
        </ul>

    </nav>

    <div class="social-media-links">
        <ul>
            <li>
                <a target="_blank" href="">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/ivan4o03/Chef-Recipes">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        
    </div>

    <div class="info">
        <div class="logo-wrapper">
            <object data="../../../assets/images/chef-logo-white.svg" type="image/svg+xml">
                <img src="../../../assets/images/chef-logo-white.svg" />
              </object>
        </div>
        <div class="text">
            <p>© 2020-2020 - Chef Recepipts -</p>
            <p>All Rights Reserved</p>
        </div>
    </div>
</div>