<app-loading *ngIf="user == null; else profile"></app-loading>
<ng-template #profile>
  <div class="align">
  <div class="main">
    <div class="user">
      <div class="icon">
        <app-icon
          [height]="70"
          [width]="70"
          [text]="stringManipulation.getFirstCharToUpper(user.userName)"
        ></app-icon>
        <div>
          <span class="user-name">@{{ user.userName }}</span>
        </div>
      </div>

      <div class="user-info">
        <div>
          <span class="title">User Name</span>
          <span class="value">{{ user.userName }}</span>
        </div>
        <div>
          <span class="title">Recipes</span>
          <span class="value">{{ recipesCount }}</span>
        </div>
        <div>
          <span class="title">E-Mail</span>
          <span class="value">{{ user.userEmail }}</span>
        </div>
      </div>
    </div>
  </div>
  <a *ngIf="user.userId == currentUser.userId" class="create-recipe" routerLink="/recipe/create"> Create recipe </a>
</div>
</ng-template>

<app-loading *ngIf="recipes == null"></app-loading>

<app-recipe-list *ngIf="recipes != null" [recipes]="recipes"></app-recipe-list>

<div *ngIf="recipesCount === 0">
  <div class="nothing-container">
    <span class="nothing"> ¯\_(ツ)_/¯ </span>
    <span class="nothing-text"> Opps nothing found here... </span>
  </div>
</div>
