.main{
    background-color: white;
    margin:  70px auto 20px auto;
    width: 100%;
    max-width: fit-content;
    user-select: none;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon app-icon{
    position: relative;
    bottom: 50px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
}

.user-name{
    color: black;
    position: relative;
    bottom: 35px;
    font-size: 19px;
}

.user-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.user-info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 18px;
    margin: 0px 45px;
}

.title{
    margin-bottom: 10px;
    font-weight: 700;
}

.value{
    font-style: italic;
    font-size: 18px;
    width: 150px;
    text-align: center;
    word-break: break-all;
}

.nothing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.nothing{
    font-size: 60px;
}

.nothing-text{
    font-size: 20px;
}

.create-recipe{
    padding: 18px 26px;
    background: radial-gradient(circle, rgba(52,231,51,1) 0%, rgba(55,201,54,1) 100%);
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}