<div class="header">
  <h1>Make cooking easy with our Chef Recipes cooking system.</h1>
</div>

<div class="main">
  <div class="section">
    <div class="text">
      <h2>What is our goal?</h2>
      <p>
        Our goal is to make cooking easy and аvailable for everyone, from
        beginner to expert.
      </p>
    </div>
    <div class="img-wrapper">
      <img src="../../../assets/images/pexels-elle-hughes-2696064.jpg" alt="" />
    </div>
  </div>

  <div class="section">
    <div class="img-wrapper">
      <img src="../../../assets//images/pexels-jer-chung-2059153.jpg" alt="" />
    </div>
    <div class="text">
      <h2>What do we help you with?</h2>
      <p>
        This website helps you to make recipes with ease and share them to the
        public to enjoy.
      </p>
    </div>
  </div>

  <div class="section">
    <div class="text">
      <h2>What are the benefits?</h2>
      <p>
        Make recipes, share recipes, like other recipes, follow different cooks
        and give advice to other cooks.
      </p>
    </div>
    <div class="img-wrapper">
      <img
        src="../../../assets/images/pexels-andrea-piacquadio-3769999.jpg"
        alt=""
      />
    </div>
  </div>
</div>
