<app-loading *ngIf="recipe == null; else elseTemplate"></app-loading>
<ng-template #elseTemplate>
<div class="main" >
    <div [routerLink]="['/recipe/',recipe.id]" class="image">
        <span class="title">{{recipe.title}}</span>
        <img [src]="recipe.imageURL" alt="">
    </div>
    <div class="bottom">
        <div class="user-info">
            <app-icon [height]="25" [width]="25" [text]="recipe.userUserName?.toString()[0].toUpperCase()"></app-icon>
            <span>@{{recipe.userUserName}}</span>
        </div>
        <div *ngIf="isAuthenticated" class="likes-comments">
            <div class="likes">
                <i (click)="likeHandler()" [ngClass]="{ 'fas is-liked':isLiked}" class="far fa-heart"></i>
                <span>10k</span>
            </div>
            <div class="comments">
                <i class="far fa-comment-dots"></i>
                <span>5k</span>
            </div>
        </div>
    </div>
</div>
</ng-template>
