<app-loading *ngIf="recipe == null; else elseTemplate"></app-loading>
<ng-template #elseTemplate>
<div class="main" >
    <div [routerLink]="['/recipe/',recipe.id]" class="image">
        <span class="title">{{recipe.title}}</span>
        <img [src]="recipe.imageURL" alt="">
    </div>
    <div class="bottom">
        <div class="user-info">
            <app-icon [height]="25" [width]="25" [text]="recipe.userUserName?.toString()[0].toUpperCase()"></app-icon>
            <span><a [routerLink]="['/identity',recipe.userId]">
                @{{recipe.userUserName}}
            </a></span>
        </div>
        <div *ngIf="isAuthenticated" class="likes-comments">
            <div class="likes">
                <i (click)="likeHandler()" [ngClass]="{ 'fas is-liked':isLiked}" class="far fa-heart"></i>
                <span>{{likes}}</span>
            </div>
            <div class="comments">
                <i class="far fa-comment-dots"></i>
                <span>0</span>
            </div>
        </div>
    </div>
</div>
</ng-template>
