<div class="main">
    <div routerLink="/recipe/1" class="image">
        <span class="title">Salad with tomatoes and cucumbers</span>
        <img src="https://hips.hearstapps.com/hmg-prod/images/delish-roast-beef-horizontal-1540505165.jpg" alt="">
    </div>
    <div class="bottom">
        <div class="user-info">
            <i class="fas fa-user-circle"></i>
            <span>@dani123</span>
        </div>
        <div class="likes-comments">
            <div class="likes">
                <i (click)="likeHandler()" [ngClass]="{ 'fas is-liked':isLiked}" class="far fa-heart"></i>
                <span>10k</span>
            </div>
            <div class="comments">
                <i class="far fa-comment-dots"></i>
                <span>5k</span>
            </div>
        </div>
    </div>
</div>