.bottom{
    background-color: black;
    color: white;
    display: flex;
    flex-basis: 350px;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.likes-comments{
    display: flex;
    align-items: center;
}

.user-info span{
    margin-left: 10px;
    font-size: 15px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info i{
    font-size: 25px;
}

.comments{
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.lies{
    display: flex;
    align-items: center;
}

.likes-comments div span{
    margin-left: 5px;
}

.image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 350px;
    height: 305px;
    position: relative;
}

.image:hover{
    cursor: pointer;
}

.fa-user-circle:hover,
.title:hover,
.user-info span:hover{
    color: #b2b2b2;
    cursor: pointer;
}

.fa-heart:hover:hover{
    color: rgba(237, 0, 53, 1);
    cursor: pointer;
}

.fa-heart,
.fa-user-circle,
.title,
.user-info span{
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.fa-heart{
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.fa-heart:hover{
    transform: scale(1.1,1.1);
}

.image::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%; height:100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 11%); /* W3C */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.image img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    user-select: none;
   
}

.main{
    margin: 20px;
    position: relative;
}

.title{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}

.is-liked{
    color: rgba(237, 0, 53, 1);
  }