<div class="main">
  <div class="img-wrapper">
    <img src="../../../assets/images/not-found.png" alt="" />
  </div>
  <div class="text">
    <p>We did not find the page you were looking for.</p>
    <p>Check out these links instead.</p>
  </div>
  <div class="buttons">
    <a routerLink="/">Recipes</a>
    <a routerLink="/contact">Contact us</a>
    <a routerLink="/about">About</a>
    <a routerLink="/privacy">Privacy</a>
    <a routerLink="/contact">Facebook</a>
    <a href="https://github.com/ivan4o03/Chef-Recipes">Github</a>
  </div>
</div>
