<div class="navigation-container">
  <nav>
    <a routerLink="/">
      <div class="logo-wrapper">
        <object data="../../../assets/images/chef-logo.svg" type="image/svg+xml">
          <img src="../../../assets/images/chef-logo.svg" />
        </object>
      </div>
    </a>
    <ul class="main-navigation-list">
      <li
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-item"
      >
        <a>Recipes</a>
      </li>
      <li routerLink="/about" routerLinkActive="active" class="list-item">
        <a>About</a>
      </li>
      <li routerLink="/contact" routerLinkActive="active" class="list-item">
        <a>Contact us</a>
      </li>
    </ul>

    <ul *ngIf="!isAuthenticated" class="main-navigation-authentication">
      <li class="auth-list-itme">
        <a class="btn btn-outline" routerLink="/login">Login</a>
      </li>
      <li class="auth-list-itme">
        <a class="btn btn-filled" routerLink="/register">Register</a>
      </li>
    </ul>

    <ul *ngIf="isAuthenticated">
      <li>
        <a href="">Hello, @{{userName}}</a>
      </li>
      <li>
        <a (click)="logoutHandler()">Logout</a>
      </li>
    </ul>

  </nav>
</div>
