<div class="navigation-container">
    <nav>
        <div class="logo-wrapper">
            <img src="../../../assets/images/chef-logo.svg" alt="">
        </div>
        <ul class="main-navigation-list">
            <li class="list-item">
                <a routerLink="/about">About</a>
            </li>
            <li class="list-item">
                <a routerLink="/contact">Contact us</a>
            </li>
            <li class="list-item">
                <a routerLink="/">Recipes</a>
            </li>
        </ul>

        <ul class="main-navigation-authentication">
            <li class="auth-list-itme">
                <a class="btn btn-outline">Login</a>
            </li>
            <li class="auth-list-itme">
                <a class="btn btn-filled">Register</a>
            </li>
        </ul>
    </nav>
</div>