<div class="navigation-container">
    <nav>
        <div class="logo-wrapper">
            <img src="../../../assets/images/chef-logo.svg" alt="">
        </div>
        <ul class="main-navigation-list">
            <li class="list-item">
                <a>About</a>
            </li>
            <li class="list-item">
                <a>Contact us</a>
            </li>
            <li class="list-item">
                <a>Recipes</a>
            </li>
        </ul>

        <ul class="main-navigation-authentication">
            <li class="list-item" >
                <a class="btn btn-outline">Login</a>
            </li>
            <li class="list-item">
                <a class="btn btn-filled">Register</a>
            </li>
        </ul>
    </nav>
</div>