ul{
    display: flex;
    align-items: center;
}

.right{
    cursor: pointer;
    margin-left: 20px;
}

.profile a{
    color: rgb(43, 43, 43);
    font-weight: 700;
    margin-left: 10px;
}

.profile{
    display: flex;
    align-items: center;
   
}
