<form [formGroup]="form" (ngSubmit)="submitHandler() ">
  <div class="main">
    <div class="img-wrapper">
      <div class="image">
        <img [src]="imageURL" alt="" />
      </div>
    </div>
    <div class="aside">
      <div class="field title">
        <label for="">Title</label>
        <div class="title-inputs">
          <input formControlName="title" type="text" name="" id="" />
        </div>
        <app-error *ngIf="form.get('title').touched && form.get('title').errors?.required">
          ImageURL is required!
        </app-error>
      </div>

      <div class="field description">
        <label for="">Description</label>
        <textarea formControlName="description" name="" id="" cols="30" rows="10"></textarea>
        <app-error *ngIf="form.get('description').touched && form.get('description').errors?.required">
          Description is required!
        </app-error>
      </div>
      <div class="field image-url">
        <label for="">Image URL</label>
        <div class="image-inputs">
          <input formControlName="imageURL" (keyup)="changePhoto(imgURL)" #imgURL type="text" name="" id="" />
        </div>
        <app-error *ngIf="form.get('imageURL').touched && form.get('imageURL').errors?.required">
          ImageURL is required!
        </app-error>
      </div>
      <div class="field control-menu">
        <button type="button" (click)="addIngredient()">
          Add Ingredient <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="align">
        <div>
          <span>Ingredients</span>
        </div>
        <app-error *ngIf="form.get('ingredients').errors?.required">Ingredients is required!</app-error>
        <div formArrayName="ingredients" class="ingredients">
          <div *ngFor="let ingredient of ingredients.controls; let ingredientIndex=index" [formGroupName]="ingredientIndex"  class="ingredient">
            <input formControlName="ingredientName" class="ingredient-name" type="text" placeholder="Ingredient" />
            <input  formControlName="amount" class="ingredient-amount" type="number" placeholder="Amount" />
            <select formControlName="type">
              <option value="Tbsp">Tbsp</option>
              <option value="tsp">tsp</option>
              <option value="Oz">Oz</option>
              <option value="fl. Oz">fl. Oz</option>
              <option value="c">c</option>
              <option value="qt">qt</option>
              <option value="pt">pt</option>
              <option value="gal">gal</option>
              <option value="lb">lb</option>
              <option value="mL">mL</option>
              <option value="g">g</option>
              <option value="kg">kg</option>
              <option value="l">l</option>
              <option value="Number">Number</option>
              <option value="Other">Other</option>
            </select>
            <div class="remove-btn">
              <button type="button" (click)="removeIngredient(ingredientIndex)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <button [disabled]="form.invalid" class="submit-button" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>