<form action="">
  <div class="main">
    <div class="img-wrapper">
      <div class="image">
        <img [src]="imageURL" alt="" />
      </div>
    </div>
    <div class="aside">
      <div class="field description">
        <label for="">Description</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="field image-url">
        <label for="">Image URL</label>
        <div class="image-inputs">
          <input (keyup)="changePhoto(imgURL)" #imgURL type="text" name="" id="" />
        </div>
        
      </div>
      <div class="field control-menu">
        <button type="button" (click)="addRecipe()">
          Add Ingredient <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="align">
        <div>
          <span>Ingredients</span>
        </div>
        <div class="ingredients">
          <div class="ingredient" *ngFor="let recipe of recipes; let i = index">
            <input class="ingredient-name" type="text" maxlength="10" placeholder="Ingredient" name="ingredient_{{ recipe.id }}" id="" />
            <input class="ingredient-amount" min="0" max="99999" type="number" placeholder="Amount" name="time_{{ recipe.id }}" id="" />
            <select name="" id="">
              <option value="Tbsp">Tbsp</option>
              <option value="tsp">tsp</option>
              <option value="Oz">Oz</option>
              <option value="fl. Oz">fl. Oz</option>
              <option value="c">c</option>
              <option value="qt">qt</option>
              <option value="pt">pt</option>
              <option value="gal">gal</option>
              <option value="lb">lb</option>
              <option value="mL">mL</option>
              <option value="g">g</option>
              <option value="kg">kg</option>
              <option value="l">l</option>
              <option value="Number">Number</option>
              <option value="Other">Other</option>
            </select>
            <div class="remove-btn">
              <button type="button" (click)="removeRecipe(i)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <button class="submit-button" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>
