<form action="">
  <div class="main">
    <div class="img-wrapper">
      <div class="image">
        <img [src]="imageURL" alt="" />
      </div>
    </div>
    <div class="aside">
      <div class="field description">
        <label for="">Description</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="field image-url">
        <label for="">Image URL</label>
        <div class="image-inputs">
          <input (keyup)="changePhoto(imgURL)" #imgURL type="text" name="" id="" />
        </div>
        
      </div>
      <div class="field control-menu">
        <button type="button" (click)="addRecipe()">
          Add Ingredient <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="align">
        <div class="ingredients">
          <div class="ingredient" *ngFor="let recipe of recipes; let i = index">
            <input class="ingredient-name" type="text" maxlength="10" placeholder="Ingredient" name="ingredient_{{ recipe.id }}" id="" />
            <input class="ingredient-amount" min="0" max="99999" type="number" placeholder="Amount" name="time_{{ recipe.id }}" id="" />
            <select name="" id="">
              <option value="">Tbsp</option>
              <option value="">tsp</option>
              <option value="">Oz</option>
              <option value="">fl. Oz</option>
              <option value="">c</option>
              <option value="">qt</option>
              <option value="">pt</option>
              <option value="">gal</option>
              <option value="">lb</option>
              <option value="">mL</option>
              <option value="">g</option>
              <option value="">kg</option>
              <option value="">l</option>
              <option value="">Number</option>
              <option value="">Other</option>
            </select>
            <div class="remove-btn">
              <button type="button" (click)="removeRecipe(i)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <button class="submit-button" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>
