<div class="main">
    <div class="main-form">
        <div class="title">
            <span>LOGIN</span>
        </div>
        <form action="">
            <div class="username">
                <i class="fas fa-envelope"></i>
                <input placeholder="E-Mail" type="email" name="" id="">
            </div>
            <div class="password">
                <i class="fas fa-lock"></i>
                <input placeholder="Password" type="password" name="" id="">
            </div>
            <button type="submit">
                Login
            </button>
        </form>
    </div>
</div>