<div class="main">
    <div class="main-form">
        <div class="title">
            <span>Register</span>
        </div>
        <form action="">
            <div class="username">
                <i class="fas fa-user"></i>
                <input placeholder="Username" type="text" name="" id="">
            </div>
            <div class="email">
                <i class="fas fa-envelope"></i>
                <input placeholder="Username" type="text" name="" id="">
            </div>
            <div class="password">
                <i class="fas fa-key"></i>
                <input placeholder="Password" type="password" name="" id="">
            </div>
            <div class="confirm-password">
                <i class="fas fa-key"></i>
                <input placeholder="Confirm Password" type="password" name="" id="">
            </div>
            <button type="submit">
                Register 
            </button>
        </form>
    </div>
</div>