<div class="main">
  <div class="img-wrapper">
    <div class="image">
      <img
        src="https://hips.hearstapps.com/hmg-prod/images/delish-roast-beef-horizontal-1540505165.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="aside">
    <div class="user">
      <i class="far fa-user-circle"></i>
      <span class="user-name">@dani4356</span>
    </div>

    <div class="description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis
      </p>
    </div>

    <div class="menu">
      <div class="menu-like">
        <i class="far fa-heart"></i>
      </div>
      <div class="menu-ingredients">
        <i class="fas fa-utensil-spoon"></i>
      </div>
      <div class="menu-comments">
        <i class="far fa-comment-dots"></i>
      </div>
    </div>

    <div class="comments">
      <div class="comment">
        <div class="comment-user-info">
          <i class="far fa-user-circle"></i>
          <span>@dani4356</span>
        </div>
        <div class="comment-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis
          </p>
        </div>
      </div>

      <div class="comment">
        <div class="comment-user-info">
          <i class="far fa-user-circle"></i>
          <span>@dani4356</span>
        </div>
        <div class="comment-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis
          </p>
        </div>
      </div>

      <div class="comment">
        <div class="comment-user-info">
          <i class="far fa-user-circle"></i>
          <span>@dani4356</span>
        </div>
        <div class="comment-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis
          </p>
        </div>
      </div>

      <div class="comment">
        <div class="comment-user-info">
          <i class="far fa-user-circle"></i>
          <span>@dani4356</span>
        </div>
        <div class="comment-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
