<div class="main">
  <div class="img-wrapper">
    <div class="image">
      <img
        src="https://hips.hearstapps.com/hmg-prod/images/delish-roast-beef-horizontal-1540505165.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="aside">
    <div class="user">
      <div>
        <i class="far fa-user-circle"></i>
        <span class="user-name">@dani4356</span>
      </div>
      <app-share></app-share>
    </div>

    <div class="description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis
      </p>
    </div>

    <hr class="desc-menu-hr" />

    <div class="menu">
      <div class="menu-like">
        <i
          *ngIf="isAuthenticated"
          (click)="likeHandler()"
          [ngClass]="{ 'fas is-liked': isLiked }"
          class="far fa-heart"
        ></i>
      </div>
      <div
        (click)="showIngredientsHandler()"
        #menuIngredients
        class="menu-ingredients"
      >
        <i class="fas fa-utensil-spoon"></i>
      </div>
      <div (click)="showCommentsHandler()" #menuComments class="menu-comments">
        <i class="far fa-comment-dots"></i>
      </div>
      <div
        *ngIf="showComments"
        (click)="toggleAddComment()"
        #menuAddComment
        class="menu-add-comment"
      >
        <i *ngIf="isAuthenticated" class="fas fa-plus"></i>
      </div>
    </div>
    <div *ngIf="showComments" class="comments">
      <div *ngIf="showAddComment" class="write-comment">
        <span>Add Comment</span>
        <editor [apiKey]="tinyMceKey" [init]="tinyMceSettings"></editor>
        <div class="add-comment-buttons">
          <button class="add-btn">Add</button>
          <button class="cancel-btn" (click)="closeComment()">Cancel</button>
        </div>
      </div>
      <div class="comment">
        <div class="comment-user-info">
          <i class="far fa-user-circle"></i>
          <span>@dani4356</span>
        </div>
        <div class="comment-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis
          </p>
        </div>
      </div>

      <div class="comment">
        <div class="comment-user-info">
          <i class="far fa-user-circle"></i>
          <span>@dani4356</span>
        </div>
        <div class="comment-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis
          </p>
        </div>
      </div>

      <div class="comment">
        <div class="comment-user-info">
          <i class="far fa-user-circle"></i>
          <span>@dani4356</span>
        </div>
        <div class="comment-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="showIngredients" class="ingredients">
      <ul>
        <li class="ingredient">
          <span>Eggs</span>
        </li>
        <li class="ingredient">
          <span>Butter</span>
        </li>
        <li class="ingredient">
          <span>Cheese</span>
        </li>
        <li class="ingredient">
          <span>Salt</span>
        </li>
        <li class="ingredient">
          <span>Pepper</span>
        </li>
        <li class="ingredient">
          <span>Tomatoes</span>
        </li>
        <li class="ingredient">
          <span>Carrot</span>
        </li>
        <li class="ingredient">
          <span>Bread</span>
        </li>
      </ul>
    </div>
  </div>
</div>
