.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 140px;
  position: relative;
}

.img-wrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.image img {
  object-fit: scale-down;
  width: 700px;
  height: 500px;
}

.aside {
  align-self: start;
  margin-left: 20px;
  padding-left: 20px;
  align-self: stretch;
}

.user .fa-user-circle {
  font-size: 33px;
}

.user div{
  display: flex;
  align-items: center;
}

.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
}

.description {
  margin-top: 15px;
  height: 90px;
  overflow-y: scroll;
}

.menu {
  display: flex;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 15px;
}

.menu div {
  margin: 0px 10px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.menu-ingredients,
.menu-comments {
  transition: all 0.5s ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.menu-ingredients:hover,
.menu-comments:hover {
  border-bottom: 3px solid black !important;
}

.desc-menu-hr {
  border-color: black;
  background-color: black;
  margin: 20px 0px;
}

.comment-user-info {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 3px;
}

.comment-user-info i {
  font-size: 25px;
}

.comment-user-info span {
  margin-left: 5px;
}

.comment {
  margin: 20px 0;
}

.comment:nth-child(1) {
  margin-top: 0px;
}

.comments {
  overflow-y: scroll;
  height: 300px;
}

.menu-like {
  transition: all 0.5s ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.menu-like:hover {
  transform: scale(1.1, 1.1);
  color: rgba(237, 0, 53, 1);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 44, 44);
}

.comment-user-info {
  margin-bottom: 10px;
}

.ingredients {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.ingredient {
  margin-top: 10px;
  margin-bottom: 22px;
  border-bottom: 2px solid black;
  font-size: 18px;
  width: 668px;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.ingredient-name{
  flex-grow: 1;
  display: flex;
}

.mezure *{
  margin: 0px 5px;
}
.cook-button {
  padding: 15px 15px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  background: radial-gradient(circle, rgba(51,94,231,1) 0%, rgba(54,72,201,1) 100%);
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.title{
  font-size: 25px;
}

.ingredients ul {
  overflow-y: scroll;
  padding: 0 10px;
  height: 300px;
}

.is-liked{
  color: rgba(237, 0, 53, 1);
}

.write-comment textarea{
  width: 100%;
  resize: none;
  border: 2px solid black;
  margin-top: 5px;
}

.write-comment {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  
}

.write-comment button{
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.add-comment-buttons{
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.add-comment-buttons button{
  margin-left: 10px;
}

.add-btn{
  background: radial-gradient(circle, rgba(52,231,51,1) 0%, rgba(55,201,54,1) 100%) !important;
}

.cancel-btn{
  background: red;
}

editor{
  user-select: none;
}