.main-control-menu {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-right: 200px;
  align-items: center;
}

.search-container {
  margin-left: 60px;
  flex-basis: 350px;
  display: flex;
  align-items: center;
}

.search-container input {
  width: 100%;
  padding: 6px;
  border-radius: 20px;
  border: 3px solid black;
  font-weight: bold;
  padding-left: 15px;
  outline: none;
  align-self: flex-end;
}

.search-container input::placeholder {
  color: rgb(32, 32, 32);
}

.order-by-container {
  flex-basis: 250px;
}

.order-by-container input::placeholder {
  color: rgb(32, 32, 32);
}
.order-by-container input {
  width: 100%;
  padding: 6px;
  border-radius: 20px;
  border: 3px solid black;
  font-weight: bold;
  padding-left: 15px;
  outline: none;
}

.fa-search {
  color: black;
}

.search-container a {
  position: absolute;
  right: 215px;
}

.create-recipe-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-recipe-button{
  display: flex;
  align-items: center;
  margin-left: 155px;
}


.create-recipe-button i{
  margin-left: 10px;
  color: white;
}

.create-recipe-button a{
  padding: 18px 26px;
  background: radial-gradient(circle, rgba(52,231,51,1) 0%, rgba(55,201,54,1) 100%);
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.create-recipe-button a{
  color: white;
}
