<div>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
    <app-recipe [recipe] = ""></app-recipe>
</div>
